@use 'tokens';
@use 'breakpoints';

.footer {
  display: flex;
  padding: 12px tokens.$paddingX-sm;
  align-items: center;
  justify-content: center;
  background-color: map-get(tokens.$colors, "primary", "dark");
  gap: 12px;

  & > * {
    flex-basis: 24px;
  }

  p {
    color: map-get(tokens.$colors, "neutral", "white");
    flex-basis: auto;
  }
}
