@use 'tokens';
@use 'breakpoints';

.header {
  padding: 2.75em tokens.$paddingX;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: space-between;

  @include breakpoints.md {
    padding: 2.75em tokens.$paddingX-md;
  }

  @include breakpoints.sm {
    padding: 2.75em tokens.$paddingX-sm;
  }

  .logo {
    &:hover {
      svg {
        path {
          transition: 0.3s;
          fill: map-get(tokens.$colors, "accent", "dark");
        }
      }
    }
  }

  .mobileMenu {
    position: fixed;
    right: 2em;
    top: 4em;
    z-index: 4000;
  }
}

.navDrawer {
  background-color: map-get(tokens.$colors, "neutral", "white");
  position: fixed;
  top: 0;
  right: -1px;
  width: 1px;
  height: 100vh;
  z-index: 1000;

  @include breakpoints.sm {
    display: flex;
    flex: column;
    justify-content: center;
  }

  &[data-opennav="true"] {
    width: 100vw;
    right: 0;
    padding: 60px 40px;
  }

  .mobileNav {
    opacity: 0;

    &[data-opennav="true"] {
      opacity: 1;
    }
  }
}

.backdrop {
  background-color: map-get(tokens.$colors, "primary", "dark");
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -100;
  transition: 0.3s;
  pointer-events: none;

  &[data-opennav="true"] {
    opacity: 0.6;
    z-index: 999;
    pointer-events: all;
  }
}

.nav {
  display: flex;
  align-items: center;
  gap: 2em;

  @include breakpoints.xs {
    flex-direction: column;
  }

  ul {
    display: flex;
    align-items: center;
    margin-block-start: 0;
    margin-block-end: 0;
    list-style-type: none;
    gap: 12px;
    padding-inline-start: 0;

    @include breakpoints.xs {
      margin-top: 3em;
    }
  }

  .socialIcons {
    display: flex;
    align-items: center;
    gap: 2em;

    .icon {
      height: 40px;
      width: 40px;

      a {
        height: 40px;
        width: 40px;
      }
    }
  }
}
