@use 'tokens';
@use 'breakpoints';

.main {
  padding: 10% tokens.$paddingX 0;

  @include breakpoints.md {
    padding: 20% tokens.$paddingX-md 0;
  }

  @include breakpoints.sm {
    padding: 20% tokens.$paddingX-sm 0;
  }
}
